h1 {
    color:rgb(255, 255, 255);
}

.lead {
    color: white;
}
.display-4 {
    color: white;
}

.bg-secondary, .bg-dark {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

.fa-facebook-square {
    color: #3b5998;
    padding: 20px;
    font-size: 5.5em;
    width: 10px;
    text-align: center;
    text-decoration: none;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
h2, p, h4 {
    text-align: center;
}
table{
    font-size:18px;
    background-color:white;
  }
  .first{
    background-color: #6B6645;
  }
  .second{
    background-color: #878057;
  }
  .welcome{
      font-family: Helvetica;
      font-weight: 200;
      align-content: center;
      color: #b2ac88;
  }
  .aero, .header {
      font-family: Helvetica;
      align-content: center;
  }
  h4, .header{
      color:  #878057;
  }
  .aero{
    color: white;
  }
body{
    background-color: #000000;
}

.btn-outline-secondary:hover {
    background-color: rgb(119, 101, 50) !important;
}
.end {
    background-color:#B2AC88;
    color: #000000;
    padding-top: 2rem;
}
.card-img-top {
    height: 75%;
}

.btn-primary {
    background-color: #B2AC88;
    border: brown;
    align-content: center;
}
.btn-primary:hover {
    background-color: rgb(153, 120, 29);
    border:brown;
}

h2 {
    color: white;
}
.financial {
    color: tan;
}

