h1 {
    color:aqua;
}

.lead {
    color: white;
}
.display-4 {
    color: rgb(143, 240, 255);
}

.bg-secondary {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.empoweredperspectivepicture {
    width: 400px !important;
    height: 100px !important;
}
.fa-facebook-square {
    color: #3b5998;
}
